<style type="text/css" media="all" id="siteorigin-panels-layouts-footer">
    /* Layout w5daf2333a7b45 */
    
    #pgc-w5daf2333a7b45-0-0,
    #pgc-w5daf2333a7b45-0-1 {
        width: 25%;
        width: calc(25% - ( 0.75 * 30px))
    }
    
    #pl-w5daf2333a7b45 #panel-w5daf2333a7b45-0-0-0 {}
    
    #pgc-w5daf2333a7b45-0-2 {
        width: 50%;
        width: calc(50% - ( 0.5 * 30px))
    }
    
    #pl-w5daf2333a7b45 #panel-w5daf2333a7b45-0-2-0 {
        margin: 0px 0px 0px 0px
    }
    
    #pg-w5daf2333a7b45-0,
    #pl-w5daf2333a7b45 .so-panel:last-child {
        margin-bottom: 0px
    }
    
    #pl-w5daf2333a7b45 .so-panel {
        margin-bottom: 30px
    }
    
    #pg-w5daf2333a7b45-0.panel-no-style,
    #pg-w5daf2333a7b45-0.panel-has-style>.panel-row-style {
        -webkit-align-items: flex-start;
        align-items: flex-start
    }
    
    #pgc-w5daf2333a7b45-0-1 {
        align-self: auto
    }
    
    #panel-w5daf2333a7b45-0-2-0>.panel-widget-style {
        padding: 2px 2px 2px 2px
    }
    
    @media (max-width:780px) {
        #pg-w5daf2333a7b45-0.panel-no-style,
        #pg-w5daf2333a7b45-0.panel-has-style>.panel-row-style {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column
        }
        #pg-w5daf2333a7b45-0>.panel-grid-cell,
        #pg-w5daf2333a7b45-0>.panel-row-style>.panel-grid-cell {
            width: 100%;
            margin-right: 0
        }
        #pgc-w5daf2333a7b45-0-0,
        #pgc-w5daf2333a7b45-0-1 {
            margin-bottom: 30px
        }
        #pl-w5daf2333a7b45 .panel-grid-cell {
            padding: 0
        }
        #pl-w5daf2333a7b45 .panel-grid .panel-grid-cell-empty {
            display: none
        }
        #pl-w5daf2333a7b45 .panel-grid .panel-grid-cell-mobile-last {
            margin-bottom: 0px
        }
    }
</style>
<link rel="stylesheet" id="so-css-hestia-pro-css" href="/assets/css/so-css-hestia-pro.css" type="text/css" media="all">
<link rel="stylesheet" id="sow-headline-default-a6db1497ad5d-css" href="/assets/css/sow-headline-default-a6db1497ad5d.css" type="text/css" media="all">
<link rel="stylesheet" id="sow-image-default-4b231843ec72-css" href="/assets/css/sow-image-default-4b231843ec72.css" type="text/css" media="all">
<link rel="stylesheet" id="wpforms-full-css" href="/assets/css/wpforms-full.css" type="text/css" media="all">
<script type="text/javascript">
    /* <![CDATA[ */
    var wpcf7 = {
        "apiSettings": {
            "root": "http:\/\/pef.neesuff.com\/wp-json\/contact-form-7\/v1",
            "namespace": "contact-form-7\/v1"
        },
        "cached": "1"
    };
    /* ]]> */
</script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var lsow_settings = {
        "mobile_width": "780",
        "custom_css": ""
    };
    /* ]]> */
</script>
<script type="text/javascript" src="/assets/js/lsow-frontend.min.js"></script>
<script type="text/javascript" src="/assets/js/comment-reply.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/core.min.js"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var requestpost = {
        "ajaxurl": "http:\/\/pef.neesuff.com\/wp-admin\/admin-ajax.php",
        "disable_autoslide": "",
        "masonry": ""
    };
    /* ]]> */
</script>
<script type="text/javascript" src="/assets/js/script.min.js"></script>
<script type="text/javascript" src="/assets/js/wp-embed.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/mailcheck.min.js"></script>
<script type="text/javascript" src="/assets/js/wpforms.js"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var wpforms_settings = {
            "val_required": "This field is required.",
            "val_url": "Please enter a valid URL.",
            "val_email": "Please enter a valid email address.",
            "val_email_suggestion": "Did you mean {suggestion}?",
            "val_email_suggestion_title": "Click to accept this suggestion.",
            "val_number": "Please enter a valid number.",
            "val_confirm": "Field values do not match.",
            "val_fileextension": "File type is not allowed.",
            "val_filesize": "File exceeds max size allowed.",
            "val_time12h": "Please enter time in 12-hour AM\/PM format (eg 8:45 AM).",
            "val_time24h": "Please enter time in 24-hour format (eg 22:45).",
            "val_requiredpayment": "Payment is required.",
            "val_creditcard": "Please enter a valid credit card number.",
            "val_smart_phone": "Please enter a valid phone number.",
            "val_post_max_size": "The total size of the selected files {totalSize} Mb exceeds the allowed limit {maxSize} Mb.",
            "val_checklimit": "You have exceeded the number of allowed selections: {#}.",
            "post_max_size": "20971520",
            "uuid_cookie": "",
            "locale": "en",
            "wpforms_plugin_url": "http:\/\/pef.neesuff.com\/wp-content\/plugins\/wpforms-lite\/",
            "gdpr": "",
            "ajaxurl": "http:\/\/pef.neesuff.com\/wp-admin\/admin-ajax.php",
            "mailcheck_enabled": "1",
            "mailcheck_domains": [],
            "mailcheck_toplevel_domains": []
        }
        /* ]]> */
</script>
<script type="text/javascript">
    document.body.className = document.body.className.replace("siteorigin-panels-before-js", "");
</script>