<div id="carousel-hestia-generic" class="carousel slide" data-ride="carousel" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item item-1 active">
                <div class="page-header" style="min-height: 799.2px;">
                    <div class="container" style="padding-top: 130px;">
                        <div class="row">
                            <h1 style="margin-left: 50%;font-family: Roboto; color: white">{{page.title}}</h1>
                            <div class=" big-title-slider-content text-center col-sm-8 col-sm-offset-2 ">

                            </div>
                        </div>
                    </div>
                    <img class="header-filter" src="{{page.banner}}">
                    </img>
                </div>
            </div>
        </div>
    </div>
</div>