<div id="carousel-hestia-generic" class="carousel slide" data-ride="carousel" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="item item-1 active">
                <div class="page-header" style="min-height: 799.2px;">
                    <div class="container" style="padding-top: 130px;">
                        <div class="row">
                            <div class=" big-title-slider-content text-center col-sm-8 col-sm-offset-2 ">


                            </div>
                        </div>

                    </div>
                    <div class="header-filter"><img class="header-filter" style="top: -40%;" src="{{page.banner}}"> </div>
                </div>
            </div>

        </div>
    </div>
</div>