<div class="main  main-raised ">
    <div class="blog-post ">
        <div class="container">


            <article id="post-266" class="section section-text">
                <div class="row">
                    <div class="col-md-8 page-content-wrap  col-md-offset-2" margin=3 0px;>
                        <div id="pl-266" class="panel-layout">
                            <div id="pg-266-0" class="panel-grid panel-no-style">
                                <div id="pgc-266-0-0" class="panel-grid-cell">
                                    <div id="panel-266-0-0-0" class="so-panel widget widget_sow-editor panel-first-child" data-index="0">
                                        <div class="so-widget-sow-editor so-widget-sow-editor-base">
                                            <div class="siteorigin-widget-tinymce textwidget">
                                                <p>Serão oferecidos no total 11 cursos. O material desenvolvido será todo de acordo com a realidade das famílias assentadas da reforma agrária e territórios de comunidades remanescentes de quilombos titulados
                                                    e/ou certificados.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="panel-266-0-0-1" class="so-panel widget widget_siteorigin-panels-builder panel-last-child" data-index="1">
                                        <div class="panel-widget-style panel-widget-style-for-266-0-0-1">
                                            <!---GRID-->
                                            <!--LINHA 0-->

                                            {% for post in site.posts %} {% if post.category=="cursos" %}
                                            <div id="pg-w5e1396e2cc597-0" class="panel-grid panel-no-style" style=" float: left; width: 33%;padding: 20px;">

                                                <div style="width:300px;margin: 0 auto; border: 1px solid red;border-radius: 5px;" id="pgc-w5e1396e2cc597-0-0" class="panel-grid-cell">
                                                    <div style="position: relative; height: 506px;" class="panel-cell-style panel-cell-style-for-w5e1396e2cc597-0-0">
                                                        <div id="panel-w5e1396e2cc597-0-0-0" class="so-panel widget widget_media_image panel-first-child" data-index="0">
                                                            <div class="img-curso panel-widget-style panel-widget-style-for-w5e1396e2cc597-0-0-0"><img width="{{post.banner-width}}" height="{{post.banner-height}}" src="{{post.banner300x169}}" class="image wp-image-285  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto; align-items: center;display: block; margin-left: auto; margin-right: auto;"></div>
                                                        </div>
                                                        <div style="align-items: center;" id="panel-w5e1396e2cc597-0-0-1" class="widget_text so-panel widget widget_custom_html" data-index="1">

                                                            <div class="widget_text panel-widget-style panel-widget-style-for-w5e1396e2cc597-0-0-1">
                                                                <div class="textwidget custom-html-widget" style="padding: 15px;">
                                                                    <p style="font-size:12px; font-family: Montserrat, sans serif; font-weight: 700; text-align:center; line-height: 12px; margin-top: 5px;">
                                                                        {{post.title}}
                                                                    </p>
                                                                    <p style="text-align:center; font-size:11px; font-family: Montserrat, sans serif;">
                                                                        {{post.textdescription}} </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="position: absolute;bottom: 0;" id="panel-w5e1396e2cc597-0-0-2" class="so-panel widget widget_lsow-button panel-last-child" data-index="2">
                                                            <div class="panel-widget-style panel-widget-style-for-w5e1396e2cc597-0-0-2">
                                                                <div class="so-widget-lsow-button so-widget-lsow-button-default-a6a205999e5b">
                                                                    <div class="lsow-button-wrap" style="clear: both; text-align:center;"><a class="lsow-button  lsow-custom lsow-medium" style="padding: auto; height:30%;width: 100%; text-decoration: none; border-radius:5px;" data-color="#421112" data-hover-color="#820022"
                                                                            href="https://www.virtualead.com.br/matricula1/?p=48" target="&quot;_blank&quot;">Faça sua Pré Inscrição</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %} {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    {% include footer1.html %}
</div>