<footer class="footer footer-black footer-big">
    <div class="container">

        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div id="siteorigin-panels-builder-5" class="widget widget_siteorigin-panels-builder">
                        <div id="pl-w5daf2333a7b45" class="panel-layout">
                            <div id="pg-w5daf2333a7b45-0" class="panel-grid panel-no-style">
                                <div id="pgc-w5daf2333a7b45-0-0" class="panel-grid-cell">
                                    <div id="panel-w5daf2333a7b45-0-0-0" class="so-panel widget widget_sow-headline panel-first-child panel-last-child" data-index="0">
                                        <div class="so-widget-sow-headline so-widget-sow-headline-default-a6db1497ad5d">
                                            <div class="sow-headline-container ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="pgc-w5daf2333a7b45-0-1" class="panel-grid-cell panel-grid-cell-empty">
                                </div>
                                <div id="pgc-w5daf2333a7b45-0-2" class="panel-grid-cell">
                                    <div id="panel-w5daf2333a7b45-0-2-0" class="so-panel widget widget_sow-image panel-first-child panel-last-child" data-index="1">
                                        <div class="panel-widget-style panel-widget-style-for-w5daf2333a7b45-0-2-0">
                                            <div class="so-widget-sow-image so-widget-sow-image-default-4b231843ec72">

                                                <div class="sow-image-container">
                                                    <img src="/assets/img/todos-logos-rodape-hd.png" width="1000" height="250" srcset="/assets/img/todos-logos-rodape-hd.png 1000w, /assets/img/todos-logos-rodape-hd-300x75.png 300w, /assets/img/todos-logos-rodape-hd-768x192.png 768w" sizes="(max-width: 1000px) 100vw, 1000px"
                                                        alt="" class="so-widget-image">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="hestia-bottom-footer-content">
            <ul class="footer-menu hestia-center" wfd-invisible="true">
                <li class="page_item page-item-248"><a href="#/">Benefícios</a></li>
                <li class="page_item page-item-18"><a href="#">Blog</a></li>
                <li class="page_item page-item-252"><a href="#/">Contato</a>
                </li>
                <li class="page_item page-item-279"><a href="#">Curso</a></li>
                <li class="page_item page-item-266"><a href="#/">Cursos</a></li>
                <li class="page_item page-item-216"><a href="#">Equipe</a></li>
                <li class="page_item page-item-17 current_page_item"><a href="#/" aria-current="page">Home</a></li>
                <li class="page_item page-item-406"><a href="#">Notícias</a>
                </li>
                <li class="page_item page-item-196"><a href="#">Parceiros</a></li>
                <li class="page_item page-item-413"><a href="#">PEF –
                        Dia Da Mulher</a></li>
                <li class="page_item page-item-102"><a href="#">Sobre
                        o Programa</a></li>
            </ul>
            <div class="copyright hestia-center">
                NEES UFF © Todos os Direitos Reservados </div>
        </div>
    </div>
</footer>