{% assign aux = 0 %}
<div class="section related-posts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="hestia-title text-center">Related Posts</h2>
                <div class="row">
                    {% for post in site.posts %} {% if post.category == page.category and post.title != page.title and aux
                    < 3 %} <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-image">
                                <a href="{{post.url}}" title="{{post.title}}">
                                    <img width="360" height="240" src="{{post.banner}}" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="" srcset="{{post.banner}} 360w, {{post.banner}} 272w" sizes="(max-width: 360px) 100vw, 360px"> </a>
                            </div>
                            <div class="content">
                                <h6 class="category text-info"><a href="{{post.url}}" title="{{post.title}}">{{post.title}}</a> </h6>
                                <h4 class="card-title">
                                    <a class="blog-item-title-link" href="{{post.url}}" title="{{post.subtitle}}" rel="bookmark">{{post.subtitle}}</a>
                                </h4>
                                <p class="card-description">{{post.description}}<a class="moretag" href="{{post.url}}"> Read more…</a>
                                </p>
                            </div>
                        </div>
                </div>
                {% assign aux = aux + 1 %} {% endif %} {% endfor %}

            </div>
        </div>
    </div>
</div>
</div>