<div class="col-md-3 blog-sidebar-wrapper col-md-offset-1 ">
    <aside id="secondary" class="blog-sidebar" role="complementary">
        <div id="search-2" class="widget widget_search">
            <form role="search" method="get" class="search-form form-group" action="http://pef.neesuff.com/">
                <label class="label-floating is-empty form-group">
    <span class="screen-reader-text">Search for:</span>
    <label class="control-label"> Search … </label><input type="search" class="search-field form-control" value="" name="s">
                </label>
                <input type="submit" class="search-submit" value="Search">
            </form>
        </div>
        <div id="recent-posts-2" class="widget widget_recent_entries">
            <h5>Recent Posts</h5>
            <ul>
                <li>
                    <a href="http://pef.neesuff.com/2020/03/08/mulheres-quilombolas-que-representam-a-garra-feminina/">Mulheres Quilombolas que Representam a Garra Feminina</a>
                </li>
                <li>
                    <a href="http://pef.neesuff.com/2020/03/08/simbolos-de-luta-mulheres-que-inspiram/">Símbolos de luta: mulheres que inspiram</a>
                </li>
                <li>
                    <a href="http://pef.neesuff.com/2019/11/20/360/">20 de Novembro – Dia Nacional da Consciência Negra</a>
                </li>
                <li>
                    <a href="http://pef.neesuff.com/2019/10/02/hello-world/">Olá!</a>
                </li>
            </ul>
        </div>
        <div id="recent-comments-2" class="widget widget_recent_comments">
            <h5>Recent Comments</h5>
            <ul id="recentcomments"></ul>
        </div>
        <div id="archives-2" class="widget widget_archive">
            <h5>Archives</h5>
            <ul>
                <li><a href="http://pef.neesuff.com/2020/03/">March 2020</a></li>
                <li><a href="http://pef.neesuff.com/2019/11/">November 2019</a></li>
                <li><a href="http://pef.neesuff.com/2019/10/">October 2019</a></li>
            </ul>
        </div>
        <div id="categories-2" class="widget widget_categories">
            <h5>Categories</h5>
            <ul>
                <li class="cat-item cat-item-7"><a href="http://pef.neesuff.com/category/dia-da-mulher/">Dia da Mulher</a>
                </li>
                <li class="cat-item cat-item-6"><a href="http://pef.neesuff.com/category/noticias/">Notícias</a>
                </li>
            </ul>
        </div>
        <div id="meta-2" class="widget widget_meta">
            <h5>Meta</h5>
            <ul>
                <li><a href="http://pef.neesuff.com/wp-login.php">Log in</a></li>
                <li><a href="http://pef.neesuff.com/feed/">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                <li><a href="http://pef.neesuff.com/comments/feed/">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                <li><a href="https://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
            </ul>
        </div>
    </aside>
    <!-- .sidebar .widget-area -->
</div>