<div id="primary" class="boxed-layout-header page-header header-small" data-parallax="active" style="transform: translate3d(0px, 0px, 0px);">
    <div class="container" style="padding-top: 180px;">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1 class="hestia-title entry-title">{{page.title}}</h1>
                {% if {{page.author}} %}
                <h4 class="author">Published by <a href="#" class="vcard author"><strong class="fn">{{page.author}}</strong></a> on <time class="entry-date published" datetime="{{page.date}}" content="2020-03-08">{{page.date}}</time>
                    <time class="updated hestia-hidden" datetime="{{page.date}}" wfd-invisible="true">{{page.date}}</time>{% endif %}
                </h4>
            </div>
        </div>
    </div>
    <img width="{{post.banner-width}}" height="{{post.banner-height}}" class="header-filter" src="{{page.banner}}">
</div>