/* Layout w5daf2333a7b45 */

#pgc-w5daf2333a7b45-0-0,
#pgc-w5daf2333a7b45-0-1 {
    width: 25%;
    width: calc(25% - (0.75 * 30px))
}

#pl-w5daf2333a7b45 #panel-w5daf2333a7b45-0-0-0 {}

#pgc-w5daf2333a7b45-0-2 {
    width: 50%;
    width: calc(50% - (0.5 * 30px))
}

#pl-w5daf2333a7b45 #panel-w5daf2333a7b45-0-2-0 {
    margin: 0px 0px 0px 0px
}

#pg-w5daf2333a7b45-0,
#pl-w5daf2333a7b45 .so-panel:last-child {
    margin-bottom: 0px
}

#pl-w5daf2333a7b45 .so-panel {
    margin-bottom: 30px
}

#pg-w5daf2333a7b45-0.panel-no-style,
#pg-w5daf2333a7b45-0.panel-has-style>.panel-row-style {
    -webkit-align-items: flex-start;
    align-items: flex-start
}

#pgc-w5daf2333a7b45-0-1 {
    align-self: auto
}

#panel-w5daf2333a7b45-0-2-0>.panel-widget-style {
    padding: 2px 2px 2px 2px
}

@media (max-width:780px) {
    #pg-w5daf2333a7b45-0.panel-no-style,
    #pg-w5daf2333a7b45-0.panel-has-style>.panel-row-style {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    #pg-w5daf2333a7b45-0>.panel-grid-cell,
    #pg-w5daf2333a7b45-0>.panel-row-style>.panel-grid-cell {
        width: 100%;
        margin-right: 0
    }
    #pgc-w5daf2333a7b45-0-0,
    #pgc-w5daf2333a7b45-0-1 {
        margin-bottom: 30px
    }
    #pl-w5daf2333a7b45 .panel-grid-cell {
        padding: 0
    }
    #pl-w5daf2333a7b45 .panel-grid .panel-grid-cell-empty {
        display: none
    }
    #pl-w5daf2333a7b45 .panel-grid .panel-grid-cell-mobile-last {
        margin-bottom: 0px
    }
}