<html lang="en-US">
{% include head-test.html %}

<body style="width:100%;position:absolute;left:0px; top:0px;padding-right:0px;" class="home page-template-default page page-id-17 wp-custom-logo siteorigin-panels  siteorigin-panels-home blog-post header-layout-default" data-aos-easing="ease" data-aos-duration="900"
    data-aos-delay="300">
    <div class="wrapper ">
        {% include masthead.html %} {% include top-banner.html %} {% include post-tile.html %} {% include related-post.html %} {% include footer1.html %}
    </div>
    {% include addicional-js.html %}
</body>

</html>