.hestia-top-bar, .hestia-top-bar .widget.widget_shopping_cart .cart_list {
			background-color: #363537
		}
		.hestia-top-bar .widget .label-floating input[type=search]:-webkit-autofill {
			-webkit-box-shadow: inset 0 0 0px 9999px #363537
		}.hestia-top-bar, .hestia-top-bar .widget .label-floating input[type=search], .hestia-top-bar .widget.widget_search form.form-group:before, .hestia-top-bar .widget.widget_product_search form.form-group:before, .hestia-top-bar .widget.widget_shopping_cart:before {
			color: #ffffff
		} 
		.hestia-top-bar .widget .label-floating input[type=search]{
			-webkit-text-fill-color:#ffffff !important 
		}.hestia-top-bar a, .hestia-top-bar .top-bar-nav li a {
			color: #ffffff
		}.hestia-top-bar a:hover, .hestia-top-bar .top-bar-nav li a:hover {
			color: #eeeeee
		}
h1, h2, h3, h4, h5, h6, .hestia-title, .hestia-title.title-in-content, p.meta-in-content , .info-title, .card-title,
		.page-header.header-small .hestia-title, .page-header.header-small .title, .widget h5, .hestia-title, 
		.title, .footer-brand, .footer-big h4, .footer-big h5, .media .media-heading, 
		.carousel h1.hestia-title, .carousel h2.title, 
		.carousel span.sub-title, .woocommerce.single-product h1.product_title, .woocommerce section.related.products h2, .hestia-about h1, .hestia-about h2, .hestia-about h3, .hestia-about h4, .hestia-about h5 {
			font-family: Montserrat;
		}
@media (min-width: 769px){
			.page-header.header-small .hestia-title,
			.page-header.header-small .title,
			h1.hestia-title.title-in-content,
			.main article.section .has-title-font-size {
				font-size: 42px;
			}}
	
		a, 
		.navbar .dropdown-menu li:hover > a,
		.navbar .dropdown-menu li:focus > a,
		.navbar .dropdown-menu li:active > a,
		.navbar .navbar-nav > li .dropdown-menu li:hover > a,
		body:not(.home) .navbar-default .navbar-nav > .active:not(.btn) > a,
		body:not(.home) .navbar-default .navbar-nav > .active:not(.btn) > a:hover,
		body:not(.home) .navbar-default .navbar-nav > .active:not(.btn) > a:focus,
		a:hover, 
		.card-blog a.moretag:hover, 
		.card-blog a.more-link:hover, 
		.widget a:hover,
		.has-accent-color {
		    color:#000344;
		}
		
		.pagination span.current, .pagination span.current:focus, .pagination span.current:hover {
			border-color:#000344
		}
		
		button,
		button:hover,
		.woocommerce .track_order button[type="submit"],
		.woocommerce .track_order button[type="submit"]:hover,
		div.wpforms-container .wpforms-form button[type=submit].wpforms-submit,
		div.wpforms-container .wpforms-form button[type=submit].wpforms-submit:hover,
		input[type="button"],
		input[type="button"]:hover,
		input[type="submit"],
		input[type="submit"]:hover,
		input#searchsubmit, 
		.pagination span.current, 
		.pagination span.current:focus, 
		.pagination span.current:hover,
		.btn.btn-primary,
		.btn.btn-primary:link,
		.btn.btn-primary:hover, 
		.btn.btn-primary:focus, 
		.btn.btn-primary:active, 
		.btn.btn-primary.active, 
		.btn.btn-primary.active:focus, 
		.btn.btn-primary.active:hover,
		.btn.btn-primary:active:hover, 
		.btn.btn-primary:active:focus, 
		.btn.btn-primary:active:hover,
		.hestia-sidebar-open.btn.btn-rose,
		.hestia-sidebar-close.btn.btn-rose,
		.hestia-sidebar-open.btn.btn-rose:hover,
		.hestia-sidebar-close.btn.btn-rose:hover,
		.hestia-sidebar-open.btn.btn-rose:focus,
		.hestia-sidebar-close.btn.btn-rose:focus,
		.label.label-primary,
		.hestia-work .portfolio-item:nth-child(6n+1) .label,
		.nav-cart .nav-cart-content .widget .buttons .button,
		.has-accent-background-color {
		    background-color: #000344;
		}
		
		@media (max-width: 768px) { 
	
			.navbar-default .navbar-nav>li>a:hover,
			.navbar-default .navbar-nav>li>a:focus,
			.navbar .navbar-nav .dropdown .dropdown-menu li a:hover,
			.navbar .navbar-nav .dropdown .dropdown-menu li a:focus,
			.navbar button.navbar-toggle:hover,
			.navbar .navbar-nav li:hover > a i {
			    color: #000344;
			}
		}
		
		body:not(.woocommerce-page) button:not([class^="fl-"]):not(.hestia-scroll-to-top):not(.navbar-toggle):not(.close),
		body:not(.woocommerce-page) .button:not([class^="fl-"]):not(hestia-scroll-to-top):not(.navbar-toggle):not(.add_to_cart_button),
		div.wpforms-container .wpforms-form button[type=submit].wpforms-submit,
		input[type="submit"], 
		input[type="button"], 
		.btn.btn-primary,
		.widget_product_search button[type="submit"],
		.hestia-sidebar-open.btn.btn-rose,
		.hestia-sidebar-close.btn.btn-rose,
		.everest-forms button[type=submit].everest-forms-submit-button {
		    -webkit-box-shadow: 0 2px 2px 0 rgba(0,3,68,0.14),0 3px 1px -2px rgba(0,3,68,0.2),0 1px 5px 0 rgba(0,3,68,0.12);
		    box-shadow: 0 2px 2px 0 rgba(0,3,68,0.14),0 3px 1px -2px rgba(0,3,68,0.2),0 1px 5px 0 rgba(0,3,68,0.12);
		}
		
		.card .header-primary, .card .content-primary,
		.everest-forms button[type=submit].everest-forms-submit-button {
		    background: #000344;
		}
		
		body:not(.woocommerce-page) .button:not([class^="fl-"]):not(.hestia-scroll-to-top):not(.navbar-toggle):not(.add_to_cart_button):hover,
		body:not(.woocommerce-page) button:not([class^="fl-"]):not(.hestia-scroll-to-top):not(.navbar-toggle):not(.close):hover,
		div.wpforms-container .wpforms-form button[type=submit].wpforms-submit:hover,
		input[type="submit"]:hover,
		input[type="button"]:hover,
		input#searchsubmit:hover, 
		.widget_product_search button[type="submit"]:hover,
		.pagination span.current, 
		.btn.btn-primary:hover, 
		.btn.btn-primary:focus, 
		.btn.btn-primary:active, 
		.btn.btn-primary.active, 
		.btn.btn-primary:active:focus, 
		.btn.btn-primary:active:hover, 
		.hestia-sidebar-open.btn.btn-rose:hover,
		.hestia-sidebar-close.btn.btn-rose:hover,
		.pagination span.current:hover,
		.everest-forms button[type=submit].everest-forms-submit-button:hover,
 		.everest-forms button[type=submit].everest-forms-submit-button:focus,
 		.everest-forms button[type=submit].everest-forms-submit-button:active {
			-webkit-box-shadow: 0 14px 26px -12px rgba(0,3,68,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,3,68,0.2);
		    box-shadow: 0 14px 26px -12px rgba(0,3,68,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,3,68,0.2);
			color: #fff;
		}
		
		.form-group.is-focused .form-control {
			background-image: -webkit-gradient(linear,left top, left bottom,from(#000344),to(#000344)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
			background-image: -webkit-linear-gradient(linear,left top, left bottom,from(#000344),to(#000344)),-webkit-linear-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
			background-image: linear-gradient(linear,left top, left bottom,from(#000344),to(#000344)),linear-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
		}
		
		.navbar:not(.navbar-transparent) li:not(.btn):hover > a,
		.navbar li.on-section:not(.btn) > a, 
		.navbar.full-screen-menu.navbar-transparent li:not(.btn):hover > a,
		.navbar.full-screen-menu .navbar-toggle:hover,
		.navbar:not(.navbar-transparent) .nav-cart:hover, 
		.navbar:not(.navbar-transparent) .hestia-toggle-search:hover {
				color:#000344}
		
		.header-filter-gradient { 
			background: linear-gradient(45deg, rgba(168,29,132,1) 0%, rgb(234,57,111) 100%); 
		}
		.has-header-gradient-color { color: #a81d84; }
		.has-header-gradient-background-color { background-color: #a81d84; }
		 
		.has-background-color-color { color: #E5E5E5; }
		.has-background-color-background-color { background-color: #E5E5E5; }
		

			.title, .title a, 
			.card-title, 
			.card-title a,
			.card-title a:hover,
			.info-title,
			.info-title a,
			.footer-brand, 
			.footer-brand a,
			.media .media-heading, 
			.media .media-heading a,
			.hestia-info .info-title, 
			.card-blog a.moretag,
			.card-blog a.more-link,
			.card .author a,
			.hestia-about:not(.section-image) h1, .hestia-about:not(.section-image) h2, .hestia-about:not(.section-image) h3, .hestia-about:not(.section-image) h4, .hestia-about:not(.section-image) h5,
			aside .widget h5,
			aside .widget a,
			.woocommerce ul.products[class*="columns-"] li.product-category h2,
			.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta .woocommerce-review__author,
			.has-secondary-color {
				color: #2d3359;
			}
			.has-background.has-secondary-background-color {
				background-color: #2d3359
			}
		.description, .card-description, .footer-big, .hestia-features .hestia-info p, .text-gray,
		.hestia-about:not(.section-image) p, .hestia-about:not(.section-image) h6,
		.has-body-color-color {
			color: #999999;
		}
		.has-background.has-body-color-background-color {
			background-color: #999999
		} 
		.header-filter:before,
		.has-background.has-header-overlay-color-background-color {
			background-color: rgba(0,0,0,0.5);
		}
		.has-header-overlay-color-color {
			color: rgba(0,0,0,0.5);
		} 
		.page-header, .page-header .hestia-title, .page-header .sub-title,
		.has-header-text-color-color {
			color: #fff;
		}
		.has-background.has-header-text-color-background-color {
			background-color: #fff;
		}
			@media( max-width: 768px ) {
				/* On mobile background-color */
				.header > .navbar,
				.navbar.navbar-fixed-top .navbar-collapse {
					background-color: #fff;
				}
			}
			.navbar:not(.navbar-transparent),
			.navbar .dropdown-menu,
			.nav-cart .nav-cart-content .widget,
			.has-background.has-navbar-background-background-color {
				background-color: #fff;
			}
			
			@media ( min-width: 769px ) {
				.navbar.full-screen-menu .nav.navbar-nav { background-color: rgba(255,255,255,0.9) }
			}
			.has-navbar-background-color {
				color: #fff;
			}
		@media( min-width: 769px ) {
			.navbar.navbar-transparent .navbar-brand,
			.navbar.navbar-transparent .navbar-nav > li:not(.btn) > a,
			.navbar.navbar-transparent .navbar-nav > .active > a,
			.navbar.navbar-transparent.full-screen-menu .navbar-toggle,
			.navbar.navbar-transparent:not(.full-screen-menu) .nav-cart-icon, 
			.navbar.navbar-transparent.full-screen-menu li.responsive-nav-cart > a.nav-cart-icon,
			.navbar.navbar-transparent .hestia-toggle-search {
				color: #fff;
			}
		}
		.has-navbar-transparent-text-color-color {
			color: #fff;
		}
		.has-background.has-navbar-transparent-text-color-background-color {
			background-color: #fff;
		}
		
		@media( min-width: 769px ) {
			.menu-open .navbar.full-screen-menu.navbar-transparent .navbar-toggle,
			.navbar:not(.navbar-transparent) .navbar-brand,
			.navbar:not(.navbar-transparent) li:not(.btn) > a,
			.navbar.navbar-transparent.full-screen-menu li:not(.btn):not(.nav-cart) > a,
			.navbar.navbar-transparent .dropdown-menu li:not(.btn) > a,
			.hestia-mm-heading, .hestia-mm-description, 
			.navbar:not(.navbar-transparent) .navbar-nav > .active > a,
			.navbar:not(.navbar-transparent).full-screen-menu .navbar-toggle,
			.navbar .nav-cart-icon,  
			.navbar:not(.navbar-transparent) .hestia-toggle-search,
			.navbar.navbar-transparent .nav-cart .nav-cart-content .widget li a,
			.navbar .navbar-nav>li .dropdown-menu li.active>a {
				color: #555;
			}
		}
		@media( max-width: 768px ) {
			.navbar.navbar-default .navbar-brand,
			.navbar.navbar-default .navbar-nav li:not(.btn).menu-item > a,
			.navbar.navbar-default .navbar-nav .menu-item.active > a,
			.navbar.navbar-default .navbar-toggle,
			.navbar.navbar-default .navbar-toggle,
			.navbar .navbar-nav .dropdown:not(.btn) a .caret,
			.navbar.navbar-default .responsive-nav-cart a,
			.navbar.navbar-default .nav-cart .nav-cart-content a,
			.navbar.navbar-default .hestia-toggle-search,
			.hestia-mm-heading, .hestia-mm-description {
				color: #555;
			}
			
			.navbar .navbar-nav .dropdown:not(.btn) a .caret {
				border-color: #555;
			}
		}
		.has-navbar-text-color-color {
			color: #555;
		}
		.has-background.has-navbar-text-color-background-color {
			background-color: #555;
		}
		.navbar.navbar-default:not(.navbar-transparent) li:not(.btn):hover > a,
		.navbar.navbar-default.navbar-transparent .dropdown-menu:not(.btn) li:not(.btn):hover > a,
		.navbar.navbar-default:not(.navbar-transparent) li:not(.btn):hover > a i,
		.navbar.navbar-default:not(.navbar-transparent) .navbar-toggle:hover,
		.navbar.navbar-default:not(.full-screen-menu) .nav-cart-icon .nav-cart-content a:hover, 
		.navbar.navbar-default:not(.navbar-transparent) .hestia-toggle-search:hover,
		.navbar.navbar-transparent .nav-cart .nav-cart-content .widget li:hover a,
		.has-navbar-text-color-hover-color {
			color: #e91e63;
		}
		.navbar.navbar-default li.on-section:not(.btn) > a {color: #e91e63!important}
		@media( max-width: 768px ) {
			.navbar.navbar-default.navbar-transparent li:not(.btn):hover > a,
			.navbar.navbar-default.navbar-transparent li:not(.btn):hover > a i,
			.navbar.navbar-default.navbar-transparent .navbar-toggle:hover,
			.navbar.navbar-default .responsive-nav-cart a:hover
			.navbar.navbar-default .navbar-toggle:hover {
				color: #e91e63 !important;
			}
		}
		.has-background.has-navbar-text-color-hover-background-color {
			background-color: #e91e63;
		}
		.form-group.is-focused .form-control,
		 div.wpforms-container .wpforms-form .form-group.is-focused .form-control,
		 .nf-form-cont input:not([type=button]):focus,
		 .nf-form-cont select:focus,
		 .nf-form-cont textarea:focus {
		 background-image: -webkit-gradient(linear,left top, left bottom,from(#000344),to(#000344)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
		 background-image: -webkit-linear-gradient(linear,left top, left bottom,from(#000344),to(#000344)),-webkit-linear-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
		 background-image: linear-gradient(linear,left top, left bottom,from(#000344),to(#000344)),linear-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
		 }
		
		 .navbar.navbar-transparent.full-screen-menu .navbar-collapse .navbar-nav > li:not(.btn) > a:hover {
		 color: #000344;
		 }
		 
		 .hestia-ajax-loading{
		 border-color: #000344;
		 }
.btn.btn-primary:not(.colored-button):not(.btn-left):not(.btn-right):not(.btn-just-icon):not(.menu-item), input[type="submit"]:not(.search-submit), body:not(.woocommerce-account) .woocommerce .button.woocommerce-Button, .woocommerce .product button.button, .woocommerce .product button.button.alt, .woocommerce .product #respond input#submit, .woocommerce-cart .blog-post .woocommerce .cart-collaterals .cart_totals .checkout-button, .woocommerce-checkout #payment #place_order, .woocommerce-account.woocommerce-page button.button, .woocommerce .track_order button[type="submit"], .nav-cart .nav-cart-content .widget .buttons .button, .woocommerce a.button.wc-backward, body.woocommerce .wccm-catalog-item a.button, body.woocommerce a.wccm-button.button, form.woocommerce-form-coupon button.button, div.wpforms-container .wpforms-form button[type=submit].wpforms-submit, div.woocommerce a.button.alt, div.woocommerce table.my_account_orders .button, .btn.colored-button, .btn.btn-left, .btn.btn-right, .btn:not(.colored-button):not(.btn-left):not(.btn-right):not(.btn-just-icon):not(.menu-item):not(.hestia-sidebar-open):not(.hestia-sidebar-close){ padding-top:15px;  padding-bottom:15px;  padding-left:33px;  padding-right:33px; }
.btn.btn-primary:not(.colored-button):not(.btn-left):not(.btn-right):not(.btn-just-icon):not(.menu-item), input[type="submit"]:not(.search-submit), body:not(.woocommerce-account) .woocommerce .button.woocommerce-Button, .woocommerce .product button.button, .woocommerce .product button.button.alt, .woocommerce .product #respond input#submit, .woocommerce-cart .blog-post .woocommerce .cart-collaterals .cart_totals .checkout-button, .woocommerce-checkout #payment #place_order, .woocommerce-account.woocommerce-page button.button, .woocommerce .track_order button[type="submit"], .nav-cart .nav-cart-content .widget .buttons .button, .woocommerce a.button.wc-backward, body.woocommerce .wccm-catalog-item a.button, body.woocommerce a.wccm-button.button, form.woocommerce-form-coupon button.button, div.wpforms-container .wpforms-form button[type=submit].wpforms-submit, div.woocommerce a.button.alt, div.woocommerce table.my_account_orders .button, input[type="submit"].search-submit, .hestia-view-cart-wrapper .added_to_cart.wc-forward, .woocommerce-product-search button, .woocommerce-cart .actions .button, #secondary div[id^=woocommerce_price_filter] .button, .woocommerce div[id^=woocommerce_widget_cart].widget .buttons .button, .searchform input[type=submit], .searchform button, .search-form:not(.media-toolbar-primary) input[type=submit], .search-form:not(.media-toolbar-primary) button, .woocommerce-product-search input[type=submit], .btn.colored-button, .btn.btn-left, .btn.btn-right, .btn:not(.colored-button):not(.btn-left):not(.btn-right):not(.btn-just-icon):not(.menu-item):not(.hestia-sidebar-open):not(.hestia-sidebar-close){border-radius:3px;}

		.btn:hover{
			background-color: #858585;
        }
        
        .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}

