.page-header.header-small {
  min-height: 300px;
  position: relative;
  height: auto;
}

.page-header, .page-header .hestia-title, .page-header .sub-title, .has-header-text-color-color {
  color: #fff;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.page-header {
  will-change: transform;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  background-position: center center;
  background-size: cover;
}

.page-header, .page-header .hestia-title, .page-header .sub-title, .has-header-text-color-color {
  color: #fff;
}

.page-header {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.618;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  direction: ltr;
  user-select: none;
  text-align: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  will-change: transform;
  overflow: hidden;
  margin: 0;
  border: 0;
  background-position: center center;
  background-size: cover;
  height: auto;
  color: #fff;
  display: flex;
  z-index: -2;
  padding: 0 30px;
  min-height: 843.3px;
}

.page-header.header-small .container {
  padding-top: 180px;
  padding-bottom: 110px;
}

.page-header .container {
  padding-top: 30vh;
  color: #fff;
}

.container {
  max-width: 100%;
}

@media (min-width: 1200px){
  .container {
      max-width: 2000px;
  }
}

@media (min-width: 992px){
  .container {
      max-width: 970px;
  }
}

.page-header.header-small .container .hestia-title, .page-header.header-small .container .title {
  margin: 20px 0 10px;
}

@media (min-width: 769px){
  .page-header.header-small .hestia-title, .page-header.header-small .title, h1.hestia-title.title-in-content, .main article.section .has-title-font-size {
      font-size: 42px;
  }
}

h1, h2, h3, h4, h5, h6, .hestia-title, .hestia-title.title-in-content, p.meta-in-content, .info-title, .card-title, .page-header.header-small .hestia-title, .page-header.header-small .title, .widget h5, .hestia-title, .title, .footer-brand, .footer-big h4, .footer-big h5, .media .media-heading, .carousel h1.hestia-title, .carousel h2.title, .carousel span.sub-title, .woocommerce.single-product h1.product_title, .woocommerce section.related.products h2, .hestia-about h1, .hestia-about h2, .hestia-about h3, .hestia-about h4, .hestia-about h5 {
  font-family: Montserrat;
}

.page-header, .page-header .hestia-title, .page-header .sub-title, .has-header-text-color-color {
  color: #fff;
}

.page-header .hestia-title {
  line-height: 1.1;
}

.header-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-position: center center;
  background-size: cover;
}

.header-filter:before, .has-background.has-header-overlay-color-background-color {
  background-color: rgba(0,0,0,0.5);
}

.header-filter:before, .header-filter:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}